
@{
    ViewBag.Title = "Chart";
    var url = ViewBag.url as string;
}
@section scripts{
    <script>
        var chart = {
            init() {
                setInterval(this.loadData.bind(this),600);
                chart.registerRevent();
            },
            registerRevent() {

            },
            loadData() {
                $.ajax({
                    url: '@url',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        if (data.length !== 0) {
                            var rpm = data[0].CreatedTimeCollection;
                            //var sum=0;
                            //for (var i = 0; i < rpm.length; i++) {
                            //    sum += rpm[i];
                            //}
                            //var avg = sum / rpm.length;

                            var sum = 0;
                            for( var i = 0; i < rpm.length; i++ ){
                                sum += parseInt( rpm[i], 10 ); //don't forget to add the base
                            }

                            var avg = sum/rpm.length;
                            $('.title1').html("<b>CoreID</b>: " + data[0].CoreID);
                            $('.title2').html("<b>Duration</b>: " + data[0].Duration);
                            //$('.title3').html("<b>sumRPM</b>: " + data[0].sumRPM);
                            $('.title4').html("<b>Average</b>: " + Math.round(avg,2));
                            $('.title5').html("<b>Sequence</b>: " + data[0].Sequence);
                            $('.title6').html("<b>StartTime</b>: " + data[0].StartTime);
                            $('.title7').html("<b>EndTime</b>: " + data[0].EndTime);
                            var ctx = document.getElementById('myChart').getContext('2d');
                            //var lines = [data[0].RPMCollection.length];
                            //for (var i = 0; i < lines.length; i++) {
                            //    lines[i].push(data[0].standardCT)
                            //}
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'line',

                                // The data for our dataset
                                data: {
                                    labels: data[0].CreatedTimeCollection,
                                    datasets: [{
                                        label: 'Revolutions per minute',
                                        backgroundColor: 'rgb(0, 0, 0,0)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: data[0].RPMCollection
                                    }

                                    ]
                                },

                                // Configuration options go here
                                options: {
                                    animation: false,
                                    title: {
                                        display: true,
                                        text: 'Mixing Machine Chart',
                                        fontSize: 16
                                    },
                                    scales: {
                                        yAxes: [{
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Revolutions per minute',
                                                fontSize: 14
                                            }
                                        }],
                                        xAxes: [{
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Time',
                                                fontSize: 14
                                            }
                                        }]
                                    }

                                }

                            });
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        //console.log('Error in Operation');
                    }
                });
            }
        }
        $(document).ready(function () {
            chart.init();

        });

    </script>
}
<div class="row">
    <div class="col-12" id="chart">
        <h3 class="py-3 text-info">Real Time Data</h3>

        <div class="row py-3">
            <div class="col-md">
                <p class="title1"></p>

            </div>
            <div class="col-md">
                <p class="title2"></p>

            </div>
            @*<div class="col-md">
                    <p class="title3"></p>

                </div>*@
            <div class="col-md">
                <p class="title4"></p>

            </div>
            <div class="col-md">
                <p class="title5"></p>

            </div>
            <div class="col-md">
                <p class="title6"></p>

            </div>
            <div class="col-md">
                <p class="title7"></p>

            </div>
        </div>

        <canvas id="myChart"></canvas>
    </div>
</div>
