@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:50px">
    <div class="col-lg-12">
        <div class="bs-example" data-example-id="bordered-table">
            <table id="ContentPlaceHolder" class="table table-borderless" style="min-height: 681px;">
                <tbody>
                    <tr>
                        <td class="td_all align-middle" rowspan="10"><input type="button" value="SHC" class="btn_all btn btn-danger"></td>
                        <td class="td_dept" rowspan="3"><input type="button" value="Dept 1" class="btn btn-warning btn_dept"></td>
                        <td class="td_build" rowspan="1"><input type="button" value="E" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E01" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E02" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E03" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E04" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E05" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E06" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="E07" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><a href="/Home/ListMachine"><input type="button" value="Mixing room" class="btn btn-primary btn-sm"></a></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_build" rowspan="1"><input type="button" value="O" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="O01" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="O02" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_build" rowspan="1"><input type="button" value="P" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P01" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P02" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P03" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P04" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P05" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P06" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="P07" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_dept" rowspan="3"><input type="button" value="Dept 2" class="btn btn-warning btn_dept"></td>
                        <td class="td_build" rowspan="1"><input type="button" value="J" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="J01" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="J02" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="J03" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_build" rowspan="1"><input type="button" value="L" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L1A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L1B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L2A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L2B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L3A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L3B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L4A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L4B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L5A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L5B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L6A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="L6B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_build" rowspan="1">@Html.ActionLink("M", "Devices", "Factory", null, new { @class = "btn btn-success btn_build" })</td>
                        <td class="td_line" rowspan="1"><input type="button" value="M1A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="M1B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="M2A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="M2B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="M3A" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="M3B" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_dept" rowspan="3"><input type="button" value="Dept 3" class="btn btn-warning btn_dept"></td>
                        <td class="td_build" rowspan="1"><input type="button" value="H" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="RSA" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_build" rowspan="1"><input type="button" value="I" class="btn btn-success btn_build"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I01" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I02" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I03" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I04" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I05" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I06" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I07" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I08" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I09" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I10" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="I11" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                    <tr>
                        <td class="td_dept" rowspan="1"><input type="button" value="Dept 5" class="btn btn-warning btn_dept_stf"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="A1" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="A2" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="A3" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="B1" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"><input type="button" value="K" class="btn btn-primary btn-sm"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                        <td class="td_line" rowspan="1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>